ion-content {
     background: linear-gradient(to top, #f2994a, #f2c94c); 
}

h2 {
  color: #ffffff;
  text-align: center
}

h3 {
  color: #ffffff;
  text-align: center
}

h4 {
  color: #ffffff;
  text-align: center
}

p {
  color: #ffffff;
  text-align: center;
}
